{% extends "base.html" %}

{% block head_title %}
Sobre Mi
{% endblock head_title %}

{% block header_h1 %}
Sobre Mi
{% endblock header_h1 %}

{% block main %}

<h2>Mi Historia</h2>

<h6>
    Soy Lautaro Giovannini, un apasionado del desarrollo de software con 6 años de experiencia en la industria. 
    Actualmente me desempeño como QC Analyst en Globant, donde llevo 3 años contribuyendo a la calidad de nuestros productos. 
</h6>
<h6>
    Mi interés por la tecnología me llevó a explorar el mundo del testing automatizado, y es por eso que decidí adentrarme en el aprendizaje de Python. 
    El objetivo principal de este curso era adquirir los conocimientos fundamentales para comenzar a implementar pruebas automatizadas y mejorar así los procesos de aseguramiento de calidad. 
</h6>
<h6>
    En mi tiempo libre, disfruto del deporte y de la tecnología. El proyecto se trata de una web para una tienda de ropa, el usuario podrá ver la ropa disponible, cargar ropa nueva, editar la ropa existente.
    El usuario se podrá registrar y podrá loguearse y editar su perfil.
</h6>

{% endblock main %}