{% extends "base.html" %}

{% block head_title %}
Sobre Nosotros
{% endblock head_title %}

{% block header_h1 %}
Sobre Nosotros
{% endblock header_h1 %}

{% block main %}

<h2>Mi Historia</h2>

<h3>
    Soy Lautaro Giovannini, un apasionado del desarrollo de software con 6 años de experiencia en la industria. 
    Actualmente me desempeño como QC Analyst en Globant, donde llevo 3 años contribuyendo a la calidad de nuestros productos. 
    En mi tiempo libre, disfruto del deporte y de crear proyectos personales, como el blog de fútbol que desarrollé para poner en práctica mis nuevas habilidades.
</h3>
<h3>
    Mi interés por la tecnología me llevó a explorar el mundo del testing automatizado, y es por eso que decidí adentrarme en el aprendizaje de Python. 
    El objetivo principal de este curso era adquirir los conocimientos fundamentales para comenzar a implementar pruebas automatizadas y mejorar así los procesos de aseguramiento de calidad. 
</h3>
<h3>
    En mi tiempo libre, disfruto del deporte y de crear proyectos personales, como el blog de fútbol que desarrollé para poner en práctica mis nuevas habilidades.
</h3>

<p>
    <b>Seguime en mis redes sociales</b>
</p>

{% endblock main %}