{% extends "base.html" %}


{% block head_title %}
Ropa
{% endblock head_title %}

{% block header_h1 %}
{{ropa}}
{% endblock header_h1 %}

{% block main %}
<dl>
    
    {% if ropa.imagen %}
    <img src="{{ ropa.imagen.url }}" alt="{{ ropa.tipo }}" height="300px">
    {% else %}
    <p>No hay imagen disponible para esta prenda.</p>
    {% endif %}

    <dt>Tipo:</dt>
    <dd>{{ ropa.tipo }}</dd>
  
    <dt>Marca:</dt>
    <dd>{{ ropa.marca }}</dd>
  
    <dt>Fecha de Carga:</dt>
    <dd>{{ ropa.fecha }}</dd>
  
    <dt>Descripción:</dt>
    <dd>{{ ropa.descripcion }}</dd>
</dl>
<a href={% url "inicio:buscar_ropa" %}>Volver</a>

{% endblock main %}