{% extends "base.html" %}


{% block head_title %}
Usuario
{% endblock head_title %}

{% block header_h1 %}
{{request.user.username}}
{% endblock header_h1 %}

{% block main %}

<p><b>Username:</b> {{ user.username }}</p>
<p><b>Nombre:</b> {{ user.first_name }}</p>
<p><b>Apellido:</b> {{ user.last_name }}</p>
<p><b>Correo:</b> {{ user.email }}</p>
{% if request.user.extradata.avatar %}
<p><b>Avatar</b>
    <img src="{{ request.user.extradata.avatar.url }}" alt="Avatar" height="100px">
</p>
{% else %}
<p><b>Avatar:</b> No hay avatar definido.</p> 
{% endif %}

<a href={% url "usuarios:editar_perfil" %}>Editar Perfil</a>

{% endblock main %}