{% extends "base.html" %}


{% block head_title %}
Usuario
{% endblock head_title %}

{% block header_h1 %}
{{request.user.username}}
{% endblock header_h1 %}

{% block main %}

<ul>
    <li>Username: {{user.username}}</li>
    <li>Nombre: {{ user.first_name }}</li>
    <li>Apellido: {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Avatar: <img src="{{ request.user.extradata.avatar.url }}" alt="" height="100px"></li>
</ul>

<a href={% url "usuarios:editar_perfil" %}>Editar Perfil</a>

{% endblock main %}